.login-page {
    background-image: url('../../assets/svg/background-waves.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 30%;
    height: 20%;
  }
  
  .login-form-input, .login-form-button {
    width: 100%; 
    max-width: 350px;
  }
  
  .login-form-input {
    padding: 15px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: left;
    margin-bottom: 10%;
    background-color: #211A1D;
    color: #FFFFFF;
  }
  
  .login-form-button {
    width: 100%;
    padding: 15px;
    background-color: lightgray;
    color: black;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .login-form-button:disabled {
    background-color: white;
    color: lightgray;
    cursor: not-allowed;
  }
  
  .login-form-button:hover:not(:disabled) {
    background-color: black;
    color: white;
  }