.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../assets/svg/sun-tornado.svg') no-repeat center center;
    background-size: cover;
    animation: fadeIn 0.5s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #5d5d5e;
    background: radial-gradient(circle, rgba(93,93,94,1) 0%, rgba(81,81,85,1) 46%, rgba(91,91,92,1) 100%);
    padding: 2rem;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 30%;
    height: 20%;
  }
  
  .login-form-input, .login-form-button {
    width: 100%; 
    max-width: 350px;
  }
  
  .login-form-input {
    padding: 15px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: left;
    margin-bottom: 10%;
    background-color: #211A1D;
    color: #FFFFFF;
  }

  .login-form-input:focus {
    border-color: white;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .login-form-button {
    width: 100%;
    padding: 15px;
    background-color: lightgray;
    transition: background-color 0.3s;
    color: black;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
  }

  .login-form-button:active {
    transform: scale(0.98);
    transition: transform 0.1s;
  }
  
  .login-form-button:disabled {
    background-color: white;
    color: lightgray;
    cursor: not-allowed;
  }
  
  .login-form-button:hover:not(:disabled) {
    background-color: #211A1D;
    color: white;
  }

  @media (max-width: 768px) {
    .login-form-container {
      width: 90%;
      height: auto;
    }
  }