.aside-container {
    width: 15vw;
    background: rgb(93,93,94);
    background: radial-gradient(circle, rgba(93,93,94,1) 0%, rgba(81,81,85,1) 46%, rgba(91,91,92,1) 100%);
  }
  
  .aside-nav-container {
    display: flex;
    flex-direction: column;
    height: 35%;
    justify-content: space-evenly;
  }
  
  .aside-nav-button {
    text-decoration: none;
    background-color: white;
    color: #211A1D;
    font-size: 1.1rem;
    margin-left: 6%;
    margin-right: 6%;
    border: 0.5px hidden #211A1D;
    padding: 6%;
    border-radius: 6px;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0.1px 0.6px;
  }
  
  .aside-nav-button:hover {
    color: white;
    background-color: #211A1D;
  }
  
  .aside-nav-button-icon {
    margin-right: 25%;
  }
  
  .aside-nav-button-content {
    display: flex;
  }

  .aside-username-p {
    margin: 3%;
  }