.search-main-div-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form {
  display: flex;
  height: 2rem;
  width: 50%;
  justify-content: center;
  max-height: 2em;
}

.search-form-input {
  border-radius: 500px;
  width: 75%;
  border: 0px;
  background-color: #211A1D;
  color: #FFFFFF;
  text-indent: 5%
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #211A1D inset !important;
  -webkit-text-fill-color: #FFFFFF !important;
}

.search-form-button {

}

.search-albums-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}